<div class="login-container">
  <!-- Botón de regresar en la esquina superior izquierda -->
  <div class="back-button">
    <a routerLink="/inicio" class="btn-back">
      <mat-icon class="icono-regresar">arrow_back</mat-icon> <!-- Icono de Angular Material -->
      Regresar
    </a>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center">
        <img src="assets/img-generales/logo1.png" alt="My App Logo" class="logo mb-3">
        <h3>Iniciar Sesión</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group mb-4">
        <label for="username">Usuario:</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required>
          </div>
          <div class="form-group mb-4">
        <label for="password">Contraseña</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div>
          <div class="text-center">
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </form>
        <p *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
