.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  height: calc(100vh - 64px);
  overflow-y: auto;
}

mat-nav-list a {
  display: flex;
  align-items: center;
}

mat-nav-list mat-icon {
  margin-right: 10px;
}