<div class="container-form p-5 text-white" style="background: rgb(8, 66, 111);">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <img src="../../assets/img-generales/cotizacion1.jpeg" class="img-fluid rounded" alt="Contacto">
      </div>
      <div class="col-sm-5">
        <h1 class="text-center">Cotiza con nosotros</h1>
        <h6 class="text-center">Estamos comprometidos a brindar un servicio excelente</h6>
        <form action="https://formspree.io/f/mqazjqqn" method="POST"><br>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Número de Teléfono</label>
            <input type="tel" class="form-control" id="telefono" name="telefono" required>
          </div>
          <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
          </div>
          <div class="hero-content">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
