<mat-toolbar color="primary" class="navbar" style="padding: 0 20px;">
  <img src="assets/img-generales/logo-eslogan.png" alt="My App Logo" class="logo">
  <strong><span class="title">Un Mundo Eléctrico</span></strong>

  <span class="spacer"></span>

  <ul class="nav-links">
    <li><a routerLink="/inicio" routerLinkActive="active-link">Inicio</a></li>
    <li><a routerLink="/empresa" routerLinkActive="active-link">Empresa</a></li>
    <li><a routerLink="/productos" routerLinkActive="active-link">Productos</a></li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
