<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<mat-toolbar color="primary" class="navbar" style="padding: 0 20px;">
  <img src="assets/img-generales/logo-eslogan.png" alt="My App Logo" class="logo">
  <strong><span class="title">Un Mundo Eléctrico</span></strong>

  <span class="spacer"></span>

  <ul class="nav-links">
    <li><a routerLink="/inicio" routerLinkActive="active-link">Inicio</a></li>
    <li><a routerLink="/empresa" routerLinkActive="active-link">Empresa</a></li>
    <li><a routerLink="/productos" routerLinkActive="active-link">Productos</a></li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="bg-white text-center text-lg-start text-dark ">
  <div class="container p-4">
    <div class="row">
      <!-- Columna 1: Logo y frase -->
      <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
        <img src="../assets/img-generales/logo1.png" alt="logo" class="footer-logo">
        <br><br>
        <p style="color: #0d416f;">
          "¡Confía en HTC! Innovación y eficiencia para <br>
          soluciones eléctricas que aseguran el éxito <br>
          de tus proyectos."
        </p>
      </div>

      <!-- Columna 2: Contacto -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: #0d416f;">Contáctenos</h5>
        <ul class="list-unstyled mb-0" style="color: #4d4d4d;">
          <li>📞 +593 99 123 4567</li>
          <li>📞 +593 98 765 4321</li>
          <li>📞 +593 97 654 3210</li>
          <li>✉️ info&#64;htc.com</li> <!-- Usamos &#64; para el @ -->
        </ul>
      </div>

      <!-- Columna 3: Horarios de Atención -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: #0d416f;">Horarios de Atención</h5>
        <p style="color: #4d4d4d;">Lunes a Sábados<br>8:00 AM - 5:00 PM</p>
      </div>

      <!-- Columna 4: Redes Sociales -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase" style="color: #0d416f;">Redes Sociales</h5>
        <ul class="list-unstyled mb-0" style="color: #4d4d4d;">
          <li>
            <a href="https://www.facebook.com" target="_blank">
              <i class="fab fa-facebook-f"></i> Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com" target="_blank">
              <i class="fab fa-instagram"></i> Instagram
            </a>
          </li>
          <li>
            <a href="https://www.tiktok.com" target="_blank">
              <i class="fab fa-tiktok"></i> TikTok
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-light-gray text-dark-gray">
     © Copyright 2015 - 2024 | Un Mundo Eléctrico de Grupo HTC | Todos los derechos reservados | Desarrollado por ...
  </div>
</footer>




