<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <img src="assets/img-generales/logo.png" alt="My App Logo" style="height: 100px; margin-right: 10px;">
   <strong><span>Un Mundo Electrico</span></strong> 
    <span class="example-spacer"></span>
    <ul class="nav-links" >
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#empresa">Empresa</a></li>
        <li><a href="#productos">Productos</a></li>
    </ul>
  
</mat-toolbar>

<app-carrosul></app-carrosul>