<div class="hero-section">
  <div class="hero-content">
    <h1 style="font-size: 65px;">TU MEJOR OPCIÓN</h1>
    <p style="font-size: 15px;">Transforma tus servicios y proyectos eléctricos con HTC. <br>
      <strong style="font-size: 15px;">"Donde la calida y la confianza se iluminan".</strong>
    </p>
    <!-- <button mat-raised-button color="accent" (click)="navigateToStore()">CONOCE MÁS</button> -->

  </div>
</div>
<!-- ////////////////cards///////////////////////// -->
<div class="cards-section">
  <mat-card class="example-card" appearance="outlined" *ngFor="let card of cards">
    <div class="icon-circle">
      <mat-icon>{{ card.icon }}</mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title><b>{{ card.title }}</b></mat-card-title>
      <p>{{ card.content }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="empty-section"></div>

<!-- Nueva Sección: Imagen y Descripción de la Empresa -->
<div class="container-form p-5 company-section">
  <div class="row">
    <div class="col-md-6 company-image">
      <img src="\..\assets\img-generales\edificio.jpg" alt="Empresa" class="img-fluid rounded">
    </div>
    <div class="col-md-6 company-info d-flex justify-content-center align-items-center">
      <div class="company-text">
        <h2><b>¿Quiénes Somos?</b></h2>
        <p>
          En <b>HTC</b>, nos especializamos en ofrecer soluciones completas para los sectores eléctrico y de
          iluminación,
          abarcando una <b>amplia gama de productos de alta calidad</b> que cumplen con las más altas exigencias del
          mercado.
        </p>
        <p>
          Colaboramos con fabricantes líderes para asegurar que cada componente que proporcionamos sea <b>duradero y
            eficiente</b>,
          respaldado por un <b>servicio al cliente destacado</b>.
        </p>
        <p>
          Nuestro equipo de expertos se dedica a ofrecer <b>asesoramiento personalizado</b>, ayudando a garantizar la
          entrega de tus proyectos dentro de los plazos y presupuestos establecidos.
        </p>
        <p>
          Además, estamos comprometidos con la innovación y el futuro, implementando <b>soluciones tecnológicas
            avanzadas</b>
          y sostenibles, tanto en el sector eléctrico como en la <b>construcción civil</b>.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////proyectos//////////////////////// -->
<div class="proyectos-importantes">
  <h3 class="text-center" style="color: #0F416F;">
    <strong>
      <span>PROYECTOS</span>
    </strong>
  </h3>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">

    <!-- Proyecto Ornamental -->
    <mat-tab label="Ornamental">
      <div class="container">
      <div class="row mt-4 mb-4">
        <div class="col-12 col-md-4  mb-2">
        <img src="\..\assets\img-servicios\lorena.jpg" alt="Proyecto Ornamental" width="100%">
        </div>
       
        <div class="col-12 col-md-8 ">
        <span >
          El proyecto de <b>Iluminación Ornamental</b> se llevó a cabo en la <b>calle La Lorena</b>, donde se implementaron sistemas de iluminación decorativa de alta calidad, diseñados para realzar la estética de las áreas urbanas. Gracias a una combinación de tecnología avanzada y diseño innovador, hemos transformado esta zona en un espacio visualmente atractivo, seguro y eficiente en consumo energético. Cada detalle del proyecto fue supervisado por nuestro equipo técnico, asegurando que se cumplan los más altos estándares de durabilidad y eficiencia.
        </span>
        </div>
      </div>
      </div>
    </mat-tab>

    <!-- Proyecto de Iluminación Vial -->
    <mat-tab label="Iluminación de Vías">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4  mb-2">
            <img src="###" alt="Proyecto Iluminación de Vías" width="100%">
          </div>
          <div class="col-12 col-md-8">
            <span>
              Nuestro <b>proyecto de Iluminación Vial</b> tiene como objetivo mejorar la seguridad y la visibilidad en las principales carreteras de la ciudad. Utilizamos luminarias de alta eficiencia energética que no solo garantizan un excelente rendimiento en la iluminación nocturna, sino que también contribuyen a la reducción del consumo eléctrico y las emisiones de CO₂. Este proyecto se destaca por su rápida instalación y su adaptabilidad a diversas condiciones climáticas, asegurando así una infraestructura sostenible y duradera.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Proyecto de Paneles Solares -->
    <mat-tab label="Paneles Solares">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4  mb-2">
            <img src="###" alt="Proyecto de Paneles Solares" width="100%">
          </div>
          <div class="col-12 col-md-8">
            <span>
              El <b>proyecto de Paneles Solares</b> representa nuestro compromiso con las energías renovables y la sostenibilidad. Hemos implementado soluciones fotovoltaicas para distintos clientes, permitiéndoles aprovechar la energía solar como una fuente limpia y abundante. Este proyecto no solo reduce considerablemente la dependencia de fuentes de energía convencionales, sino que también optimiza los costos operativos a largo plazo, ofreciendo una solución ecológica y rentable.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Mantenimiento de Luminarias -->
    <mat-tab label="Mantenimiento de Luminarias">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4  mb-2">
            <img src="###" alt="Mantenimiento de Luminarias" width="100%">
          </div>
          <div class="col-12 col-md-8">
            <span>
              En HTC, también ofrecemos servicios especializados de <b>Mantenimiento de Luminarias</b>, asegurando que nuestros sistemas de iluminación funcionen de manera óptima durante toda su vida útil. Nuestro equipo de expertos realiza inspecciones periódicas, sustitución de componentes defectuosos y ajustes para garantizar que cada instalación mantenga su rendimiento y eficiencia. Este servicio forma parte de nuestro compromiso con la excelencia y la satisfacción de nuestros clientes.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>


<!-- //////////////// NUESTROS SERVICIOS ///////////////////////// -->
<div class="servicios">
  <div class="container">
    <div class="text-center p-4">
      <h3>
        <strong>
          <span style="color: rgb(13, 65, 111)">NUESTROS SERVICIOS</span>
        </strong>
      </h3>
    </div>
    <div class="servicio-grid">
      <!-- Recorriendo servicios dinámicamente -->
      <mat-card class="servicio-card" *ngFor="let servicio of servicios">
        <img mat-card-image [src]="servicio.image" [alt]="servicio.name">
        <mat-card-content>
          <h3>{{ servicio.name }}</h3>
          <p>{{ servicio.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- /////////////////////SOPORTE TÉCNICO//////////////////////// -->

<div class="services-section">
  <h2 style="color:rgb(255, 255, 255)"><b>SOPORTE TÉCNICO</b></h2>
  <div class="services">
    <div class="service-card" *ngFor="let service of services">
      <div class="icon">
        <mat-icon>lightbulb</mat-icon>
      </div>
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
    </div>
  </div>
</div>


<!-- Nueva Sección: Línea de Tiempo -->
<div class="timeline-section">
  <h2>NUESTRA HISTORIA</h2>
  <div class="timeline-carousel">
    <button class="timeline-arrow left" (click)="prevSlide()">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <div class="timeline-wrapper">
      <div class="timeline-line"></div>
      <div class="timeline-items" [style.transform]="'translateX(' + currentPosition + 'px)'">
        <div class="timeline-item" *ngFor="let item of timelineData">
          <div class="timeline-header">
            <h3>{{ item.title }}</h3>
          </div>
          <div class="timeline-content">
            <div class="timeline-text">
              <div class="timeline-date">
                <div>{{ item.year }}</div>
              </div>
              <p class="timeline-description">{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="timeline-arrow right" (click)="nextSlide()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>

