<div class="hero-section">
  <div class="hero-content" data-aos="fade-down">
    <h1 style="font-size: 65px;">TU MEJOR OPCIÓN</h1>
    <p style="font-size: 15px;">Transforma tus servicios y proyectos eléctricos con HTC. <br>
      <strong style="font-size: 15px;">"Donde la calidad y la confianza se iluminan".</strong>
    </p>
    <!-- <button mat-raised-button color="accent" (click)="navigateToStore()">CONOCE MÁS</button> -->

  </div>
</div>
<!-- ////////////////cards///////////////////////// -->
<div class="cards-section">
  <mat-card class="example-card" appearance="outlined" *ngFor="let card of cards">
    <div class="icon-circle">
      <mat-icon>{{ card.icon }}</mat-icon>
    </div>
    <mat-card-content>
      <mat-card-title><b>{{ card.title }}</b></mat-card-title>
      <p>{{ card.content }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="empty-section"></div>

<!-- Sección Modificada: Imagen y Descripción de la Empresa -->
<div class="container-form p-5 company-section">
  <div class="row">
    <div class="col-md-6 company-image" data-aos="flip-left" data-aos-easing="ease-out-cubic">
      <img src="\..\assets\img-generales\edificio.jpg" alt="Empresa" class="img-fluid rounded">
    </div>
    <div class="col-md-6 company-info d-flex justify-content-center align-items-center">
      <div class="company-text">
        <h2 data-aos="zoom-in"><b>¿QUIÉNES SOMOS?</b></h2>
        <p data-aos="fade-up">
          Fundada en <b>2015</b> en Santo Domingo de los Tsáchilas, <b>HTC</b> se ha consolidado como un referente en la
          construcción de redes eléctricas de media y baja tensión, así como en la provisión de servicios comerciales
          para el sector eléctrico.
        </p>
        <p data-aos="fade-up">
          En <b>HTC</b>, implementamos <b>soluciones tecnológicas avanzadas y sostenibles</b>, tanto en el sector
          eléctrico como en la <b>construcción civil</b>, con un equipo experto comprometido a entregar soluciones
          personalizadas dentro de los plazos y presupuestos acordados.
        </p>
        <p data-aos="fade-up">
          Nuestros valores se centran en el <b>respeto, la resiliencia, la constancia</b> y la <b>excelencia</b>,
          principios que guían cada aspecto de nuestro trabajo.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////proyectos//////////////////////// -->
<div class="proyectos-importantes">
  <h3 class="text-center" style="color: #0F416F;" data-aos="zoom-in">
    <strong>
      <span>PROYECTOS</span>
    </strong>
  </h3>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" data-aos="fade-down">

    <!-- Proyecto Ornamental -->
    <mat-tab label="Iluminación Ornamental">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4 mb-2">
            <div class="img-container">
              <img src="\..\assets\img-servicios\lorena.jpg" alt="Proyecto Ornamental" class="project-img" data-aos="flip-left">
            </div>
          </div>

          <div class="col-12 col-md-8">
            <span>
              El proyecto de <b>Iluminación Ornamental</b> se llevó a cabo en la <b>Avenida La Lorena</b>, donde se
              implementaron sistemas de iluminación decorativa de alta calidad. Estos sistemas fueron diseñados para
              realzar la estética de las áreas urbanas y mejorar la experiencia de los transeúntes. Gracias a una
              combinación de tecnología avanzada y diseño innovador, hemos transformado esta zona en un espacio
              visualmente atractivo y seguro.
            </span>
            <br />
            <span>
              Este proyecto no solo mejora la visibilidad en la avenida, sino que también promueve un consumo energético
              eficiente, contribuyendo a la sostenibilidad ambiental. Cada detalle fue supervisado por el equipo técnico,
              asegurando el cumplimiento de los más altos estándares de durabilidad y eficiencia.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Proyecto de Iluminación Vial -->
    <mat-tab label="Alumbrado Público">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4 mb-2">
            <div class="img-container">
              <img src="\..\assets\img-servicios\lorena2.jpg" alt="Proyecto Iluminación de Vías" class="project-img"
                data-aos="flip-left">
            </div>
          </div>
          <div class="col-12 col-md-8">
            <span>
              Nuestro <b>Proyecto de Iluminación Vial</b> tiene como objetivo mejorar la seguridad y la visibilidad en
              las principales vías de la ciudad. Utilizamos luminarias de alta eficiencia energética que garantizan un
              excelente rendimiento en la iluminación nocturna. Este esfuerzo no solo contribuye a la reducción del
              consumo eléctrico, sino que también disminuye las emisiones de CO₂, haciendo de nuestra ciudad un lugar
              más limpio y saludable.
            </span>
            <br />
            <span>
              Este proyecto se destaca por su rápida instalación y su adaptabilidad a diversas condiciones climáticas,
              asegurando una infraestructura sostenible y duradera que beneficia a la comunidad. A través de esta
              iniciativa, buscamos fomentar un entorno urbano más seguro y accesible para todos los ciudadanos.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Proyecto de Paneles Solares -->
    <mat-tab label="Paneles Solares">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4 mb-2">
            <div class="img-container">
              <img src="\..\assets\img-servicios\panel.jpg" alt="Proyecto de Paneles Solares" class="project-img"
                data-aos="flip-left">
            </div>
          </div>
          <div class="col-12 col-md-8">
            <span>
              El <b>Proyecto de Paneles Solares</b> refleja nuestro compromiso con las energías renovables y la
              sostenibilidad. Hemos implementado soluciones fotovoltaicas para diversos clientes, permitiéndoles
              aprovechar la energía solar como una fuente limpia y abundante. Este proyecto no solo reduce
              considerablemente la dependencia de fuentes de energía convencionales, sino que también optimiza los
              costos operativos a largo plazo.
            </span>
            <br />
            <span>
              Además, promovemos la concienciación sobre la energía renovable, contribuyendo a la lucha contra
              el cambio climático. Con la instalación de paneles solares, nuestros clientes experimentan ahorros y
              se convierten en parte de la solución ambiental, apoyando un futuro sostenible para las generaciones.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Redes de Distribución -->
    <mat-tab label="Redes de Distribución">
      <div class="container">
        <div class="row mt-4 mb-4">
          <div class="col-12 col-md-4 mb-2">
            <div class="img-container">
              <img src="\..\assets\img-servicios\redes.jpg" alt="Redes de Distribución" class="project-img"
                data-aos="flip-left">
            </div>
          </div>
          <div class="col-12 col-md-8">
            <span>
              En HTC, nos especializamos en el diseño e implementación de <b>Redes de Distribución</b>, garantizando la
              eficiencia y la fiabilidad en la entrega de energía eléctrica a nuestros clientes. Nuestras soluciones
              abarcan desde la planificación inicial hasta la instalación y puesta en marcha de la red. Utilizamos
              tecnología de vanguardia para optimizar el flujo de energía y minimizar las pérdidas.
            </span>
            <br />
            <span>
              Este enfoque integral asegura que las infraestructuras eléctricas sean seguras, sostenibles y adaptadas a
              las necesidades específicas de cada proyecto. Además, trabajamos en estrecha colaboración con las
              autoridades locales para garantizar que nuestras soluciones no solo cumplan con los estándares técnicos,
              sino que también beneficien a la comunidad en su conjunto.
            </span>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>



<!-- //////////////// NUESTROS SERVICIOS ///////////////////////// -->
<div class="servicios">
  <div class="container">
    <div>
      <h3 class="text-center p-4" style="color: rgb(13, 65, 111)" data-aos="zoom-in">
        <strong>
          <b>NUESTROS SERVICIOS</b>
        </strong>
      </h3>
    </div>

    <div class="servicio-grid" data-aos="fade-up">
      <!-- Recorriendo servicios dinámicamente -->
      <mat-card class="servicio-card" *ngFor="let servicio of servicios">
        <img mat-card-image [src]="servicio.image" [alt]="servicio.name">
        <mat-card-content>
          <h3>{{ servicio.name }}</h3>
          <p>{{ servicio.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- /////////////////////SOPORTE TÉCNICO//////////////////////// -->

<div class="services-section">
  <div>
    <h3 class="text-center p-4" style="color:rgb(255, 255, 255)" data-aos="zoom-in">
      <strong>
        <b>SOPORTE TÉCNICO</b>
      </strong>
    </h3>
  </div>
  <div class="services" data-aos="fade-up">
    <div class="service-card" *ngFor="let service of services">
      <div class="icon">
        <mat-icon>lightbulb</mat-icon>
      </div>
      <h3>{{ service.title }}</h3>
      <p>{{ service.description }}</p>
    </div>
  </div>
</div>


<!-- Línea de tiempo: NUESTRA HISTORIA -->

  <div class="timeline-container" style="background-color: #EDF1F3; padding: 20px;"  >
    <div class="text-center p-4">
      <h3 style="color: rgb(13, 65, 111); margin-bottom: 15px;" data-aos="zoom-in">
        <strong>
          <b>NUESTRA HISTORIA</b>
        </strong>
      </h3>
    </div>

    <mat-stepper [linear]="isLinear" #stepper class="timeline-stepper"
      [orientation]="isMobile ? 'vertical' : 'horizontal'" >
      <mat-step *ngFor="let item of timelineData; let i = index" >
        <ng-template matStepLabel>{{ item.year }}</ng-template>

        <!-- Contenido de la línea de tiempo -->
        <div class="timeline-content" >
          <mat-icon>{{ item.icon }}</mat-icon> <!-- Aquí se coloca el ícono correspondiente -->
          <h3 style="color: rgb(13, 65, 111); margin-bottom: 10px;">{{ item.title }}</h3>
          <p>{{ item.description }}</p>
        </div>

        <!-- Botones de navegación -->
        <div class="timeline-buttons">
          <button mat-button matStepperPrevious *ngIf="i > 0">Anterior</button>
          <button mat-button matStepperNext *ngIf="i < timelineData.length - 1">Siguiente</button>
          <button mat-button color="primary" (click)="stepper.reset()"
            *ngIf="i === timelineData.length - 1">Reiniciar</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>

