/* Hero Section -----------------------------------------------------*/
.hero-section {
  background-image: url('/../assets/img-fondos/fondo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 65, 111, 0.7);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.70rem;
  margin-bottom: 1rem;
}

.hero-section h1 b, .hero-section p strong {
  font-size: 2rem;
}

/* Catálogos ----------------------------------------------------------*/
.catalog-carousel {
  position: relative;
  display: flex;
  align-items: center;
}

.catalog-arrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.catalog-wrapper {
  overflow: hidden;
  width: 100%;
}

.catalog-items {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.catalog-item {
  min-width: 200px; /* Ancho ajustado */
  height: 300px; /* Altura ajustada */
  margin-right: 10px; /* Separación mínima entre elementos */
}

.catalog-item img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
  height: 100%; /* Asegura que la imagen ocupe toda la altura */
  object-fit: cover; /* Asegura que la imagen mantenga el formato dentro del tamaño especificado */
  cursor: pointer;
}

/* Estilos para el Sidenav de Categorías ---------------------------*/
.card {
  margin-bottom: 20px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #f1f1f1;
}

/* Estilos para los Productos ---------------------------------------*/
.card-img-top {
  height: 200px; /* Altura fija para todas las imágenes de productos */
  object-fit: cover; /* Asegura que la imagen mantenga su relación de aspecto */
}
