<div class="hero-section">
  <div class="hero-content" data-aos="fade-down">
    <h1 style="font-size: 65px;">CALIDAD EN CADA PRODUCTO</h1>
    <p style="font-size: 18px;">
      Explora una amplia gama de productos eléctricos que transformarán tus proyectos. <br>
      <strong style="font-size: 18px;">"Comprometidos con la Excelencia".</strong>
    </p>
  </div>
</div>

<!-- Sección de Productos -->
<div class="container">
  <div class="row mb-4">
    <div>
      <h3 class="text-center p-4" style="color: rgb(13, 65, 111)" data-aos="zoom-in">
        <strong>
          <b>PRODUCTOS DISPONIBLES</b>
        </strong>
      </h3>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="card bg-light" style="background-color: #edf1f3;">
        <div class="card-header">
          <h5>Categorías</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let categoria of categorias" (click)="filtrarPorCategoria(categoria)">
            {{ categoria }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 col-lg-9">
      <h4>Buscar Productos</h4>
      <input type="text" class="form-control mb-3" [(ngModel)]="busqueda" placeholder="Buscar productos..." (input)="buscarProductos()">
      <div class="row">
        <div class="col-md-4" *ngFor="let servicio of serviciosFiltrados">
          <div class="card mb-3">
            <img [src]="servicio.image" class="card-img-top" alt="{{ servicio.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ servicio.name }}</h5>
              <a href="#" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator [length]="serviciosFiltrados.length"
                     [pageSize]="6"
                     [pageSizeOptions]="[6, 12, 24, 100]"
                     aria-label="Select page"
                     (page)="actualizarPaginador()">
      </mat-paginator>
    </div>
  </div>
</div>
<div class="container">
  <!-- Sección de Catálogos (Carrusel Horizontal) -->
  <!-- <div class="row mb-4">
    <div>
      <h3 class="text-center p-4" style="color: rgb(13, 65, 111)" data-aos="zoom-in">
        <strong>
          <b>CATÁLOGOS</b>
        </strong>
      </h3>
    </div>
    <div class="col-12">
      <div class="catalog-carousel">
        <button class="catalog-arrow left" (click)="prevCatalog()">
          <mat-icon>chevron_left</mat-icon>
        </button>
  
        <div class="catalog-wrapper">
          <div class="catalog-line"></div>
          <div class="catalog-items" [style.transform]="'translateX(' + currentPosition + 'px)'">
            <div class="catalog-item" *ngFor="let catalog of catalogData">
              <img [src]="catalog.imageUrl" class="d-block" alt="{{ catalog.name }}" (click)="openCatalog(catalog.pdfUrl)">
              <a [href]="catalog.pdfUrl" target="_blank">Ver PDF</a> <!-- Enlace al PDF 
            </div>
          </div>
        </div>
  
        <button class="catalog-arrow right" (click)="nextCatalog()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div> -->
  <app-catalog-carousel></app-catalog-carousel>
  
  
</div>
