<footer class="bg-white text-center text-lg-start text-dark">
    <div class="container p-4">
      <div class="row">
  
        <!-- Columna 1: Logo y frase -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 d-flex flex-column align-items-center"
          style="border-right: 1px solid #d3d3d3;">
          <img src="../assets/img-generales/logo1.png" alt="logo" class="footer-logo"
            style="width: 100%; max-width: 180px; height: auto; margin-bottom: 10px;">
          <p style="color: #0d416f; text-align: center; font-weight: 300;">
            "¡Confía en HTC! Innovación y eficiencia para
            soluciones eléctricas que aseguran el éxito
            de tus proyectos."
          </p>
        </div>
  
        <!-- Columna 2: Contacto -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 d-flex flex-column align-items-center"
          style="border-right: 1px solid #d3d3d3;">
          <h5 class="text-uppercase" style="color: #0d416f; font-weight: 600;">Contacto</h5>
          <div style="color: #4d4d4d; text-align: center;">
            <p style="color: #4d4d4d; text-align: center; font-size: 0.9rem;">
              <i class="fas fa-phone" style="color: black; margin-right: 5px;"></i> 02 378 2176<br>
              <i class="fas fa-phone" style="color: black; margin-right: 5px;"></i> 098-554-2516<br>
              ✉ <a href="mailto:hingelectc@gmail.com" style="color: inherit;">hingelectc&#64;gmail.com</a>
            </p>
            <h6 class="text-uppercase" style="color: #0d416f; margin-top: 20px; font-weight: 600;">Asesores de Ventas</h6>
            <p style="color: #4d4d4d; text-align: center; font-size: 0.9rem;">
              <i class="fas fa-phone" style="color: black; margin-right: 5px;"></i> 098 879 6510<br>
              <i class="fas fa-phone" style="color: black; margin-right: 5px;"></i> 099 738 2937<br>
              ✉ <a href="mailto:ventas@grupo-htc.com" style="color: inherit;">ventas&#64;grupo-htc.com</a>
            </p>
          </div>
        </div>
  
  
        <!-- Columna 3: Horarios y Redes Sociales -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0 d-flex flex-column align-items-center">
          <h5 class="text-uppercase" style="color: #0d416f; font-weight: 600;">Horarios de Atención</h5>
          <p style="color: #4d4d4d; text-align: center; font-size: 0.9rem;">
            Lunes a Viernes<br>8:00 AM - 18:00 PM<br>
            Sábados<br>8:00 AM - 12:00 PM
          </p>
  
          <h5 class="text-uppercase" style="color: #0d416f; font-weight: 600;">Redes Sociales</h5>
          <ul class="list-unstyled mb-0" style="color: #4d4d4d; text-align: center;">
            <li>
              <a href="https://www.facebook.com/hingelectc?mibextid=LQQJ4d" target="_blank">
                <i class="fab fa-facebook-f"></i> Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/htcunmundoelectrico?igsh=MWhxNjI1MTIxOTI1bg==" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
              </a>
            </li>
            <li>
              <a href="https://www.tiktok.com/@htc_un_mundo_electrico?_t=8qFOnF7ZsEH&_r=1" target="_blank">
                <i class="fab fa-tiktok"></i> TikTok
              </a>
            </li>
          </ul>
        </div>
  
      </div>
    </div>
  
    <div class="text-center p-3 bg-light-gray text-dark-gray" style="font-size: 0.8rem;">
      © Copyright 2024 | Un Mundo Eléctrico de Grupo HTC | Todos los derechos reservados | 
      <a routerLink="/auth" routerLinkActive="active-link">Panel</a>
    </div>
  </footer>
