.scroll-to-top {
  position: fixed; /* Fijo en la pantalla */
  bottom: 20px; /* Espaciado desde abajo */
  right: 20px; /* Espaciado desde la derecha */
  background-color: #003366; /* Color azul oscuro */
  color: white; /* Color del icono */
  border-radius: 50%; /* Bordes redondeados */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Alto del botón */
  display: flex; /* Flexbox para centrar el icono */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: background-color 0.3s ease; /* Transición para el efecto hover */
}

.scroll-to-top:hover {
  background-color: #00509e; /* Color más claro al pasar el mouse */
}
